# Base de datos
*.sqlite3

# Archivos temporales de audio
temporal_file_storage/

# Variables de entorno
.env

# Python
__pycache__/
*.pyc
*.pyo

# Entorno virtual
venv/
env/
.venv/

# Django
staticfiles/
media/

# Archivos comprimidos generados
*.zip

# Sistema operativo
.DS_Store

# Archivos de diseño
*.pptx
*.ppt
